.frontHead
{
	font-family: monospace;
	padding-top: 2em;
	padding-left: 3em;
}

.frontText{
	padding-left: 5em;
}

.logButton
{
	float:right;
}
.imgRooms
{
	height: 10em;
	width: 10em;
}
.imgposition
{
	padding-left: 4em;
}
.logImgPosition
{
	position: relative;
	top: 4em;
	left: 15em;
}
.imgLog
{
	height: 20em;
	width: 20em;
}
.exit
{
	padding-left: 7.5em;
}
.buttonColor
{
	background-color: rgb(250,141,109);
}
.scrollrandl
{
	background-color: rgb(189,225, 224);
	padding: 1em;
	border-color: black;
	border:solid;
	border-width: 0.16em;
	overflow: auto;
	width: 10em;
	height: 25em;
	
}
.circle
{
	position: relative;
	top: 3em;
	border-radius: 70%;
	width: 25em;
    height: 25em;
    background: rgb(189,225, 224);
    border: 3px rgb(250,141,109);
}
.circlePadding
{
	padding-top: 3em;
}
.logInButton
{
	position: relative;
	top: 8em;
	left: 9em;
}
.inPassw
{
	width: 5em;
}
.knollNav
{
	color: white;
	position: relative;
	right: 2.6em;
	font-family: monospace;
	font-size: 2em;
	top: 0.2em;
}
.logBacktoLog
{
	position: relative;
	right: 5em;
}
.liPadding
{
	padding-bottom: 0.3em;
}
.logHead
{
	background-color: rgb(189,225, 224);
	padding: 1em;
	position: relative;
	top: 4em;
	padding-bottom: 2em;
	padding-left: 7em;
	font-family: monospace;
	font-size: 1.1em;
}
.logInput
{
	position: relative;
	top: 6em;
	right: 1em;
	padding-left: 8em;
	padding-right: 6em;
}
.textCenter
{
	text-align: center;
	
}
.roomsNavHead
{
	text-align: center;
	font-family: monospace;
}
.roomsUserList
{
	padding-bottom: 0.2em;
}
.logBody
{
	background-color: rgb(250,141,109);
	padding: 1em;
}

li button.navButton
{
	background: rgb(189,225, 224);
	border: solid;
	border-width: 0.1em;
}

ul
{
	list-style-type: none;
	padding-left: 1em;
}