
<!-- <div class="col-md-4 circle">
	<div class="panel panel-default">
		<div class="logHead">Choose your username</div>
		<div class="logBody">

			<div class="form-group">
				<input type="text" class="form-control" id="username" name="username"  placeholder="Username" ng-model="username" ng-keypress="login($event)"/>
			</div>

			<button type="button" class="btn buttonColor" ng-click="login()">Enter chat</button>
		</div>
	</div>
</div> -->
<div class="col-md-4 circle">
	<span class="circlePadding">
		<div class="logHead">Pick a username</div>
	</span>
	<div class="form-group logInput">
		<input type="text" class="form-control textCenter" id="username" name="username"  placeholder="Username" ng-model="username" ng-keypress="login($event)"/>
	</div>
	<button type="button" class="btn buttonColor logInButton" ng-click="login()">Enter chat</button>
</div>

<div class="col-md-8">
	<span class="logImgPosition">
		<img src="img/logo.png" class="imgLog" alt="this image can not load"/>
	</span>
</div>
