<h3>Hi {{currentUser}} - Active chat rooms</h3>

<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<div class="well">
	<!-- <ul ng-repeat="room in rooms">
		<li><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
	</ul> -->

	<div class="btn-group" data-toggle="buttons">
  		<label class="btn btn-primary">
    		<input type="checkbox" autocomplete="off" ng-model="showInput"> Create Room
  		</label>

  	</div>
	
</div>

<div class="well" ng-show="showInput">	
		
	<form class="form-inline" ng-submit="createRoom()">
  		<div class="form-group">
    		<div class="input-group">
    			<input type="text" class="form-control" id="exampleInputAmount" placeholder="Name" ng-model="roomName">
    		</div>
  		</div>
  		<div class="btn-group" data-toggle="buttons">
  			<label class="btn btn-primary">
				<input type="checkbox" autocomplete="off" ng-model="showInput" ng-click="createRoom()"> Create
			</label>
		</div>
	</form>
</div>

<div class="well">	
		<ul>
			<li ng-repeat="room in rooms"><button type="button" ng-click="joinRoom(room);">{{room}}</button></li>
		</ul>
</div>