<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
<div>
	<div class="col-md-4" ng-show="showInput">	
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" id="exampleInputAmount" placeholder="Name" ng-model="roomName">
			</div>
		</div>
			<div class="btn-group" data-toggle="buttons">
				<button type="button" class="btn buttonColor" ng-click="createRoom()"> Create</button>
			</label>
		</div>
	</div>

	<div class="col-md-4" ng-hide="showInput">
		<div class="btn-group" data-toggle="buttons" >
			<span>
	  			<button type="button" class="btn buttonColor" ng-click="showInp()" > Create room</button>
	  		</span>
	  	</div>
	</div>
	<div class="col-md-5">
		<span class="imgposition">
			<img src="img/logo.png" class="img" alt="this image can not load"/>
		</span>
	</div>
	<div class="btn-group col-md-1">
		<span class="exit">
		  <button type="button" class="btn buttonColor dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		    {{currentUser}} <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="" ng-click="disconnUser()">Sign out</a></li>
		  </ul>
	  </span>
	</div>

</div>
<div>
	<div class="col-md-4 scrollrandl">	
		<ul class="overflow">
			<li class="liPadding" ng-repeat="room in rooms">
				<span class="glyphicon glyphicon-home" ng-hide="roomObj[room].password !== ''"></span>
				<span class="glyphicon glyphicon-lock" ng-hide="roomObj[room].password === ''"></span>
				<button type="button" class="btn navButton"ng-click="joinRoom(room, roomPassword);">{{room}}</button>
				<input type="text" class="inPassw" placeholder="Password" ng-model="roomPassword" ng-hide="roomObj[room].password === ''">	
			</li>
		</ul>
	</div>

	<div class="col-md-3 "></div>

	<div class="col-md-4 scrollrandl">	
			<ul class="overflow">
				<li ng-repeat="user in users">{{user}}</li>
			</ul>
	</div>
	<div class="col-md-1 "></div>
</div>

