<h3>Hi {{currentUser}} - Active chat rooms</h3>

<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    {{currentUser}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="" ng-click="disconnUser()">Sign out</a></li>
  </ul>
</div>


<div class="well">
	<!-- <ul ng-repeat="room in rooms">
		<li><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
	</ul> -->

	<div class="btn-group" data-toggle="buttons">
  		<label class="btn btn-primary">
    		<input type="checkbox" autocomplete="off" ng-model="showInput"> Create Room
  		</label>
  	</div>
</div>

<div class="well" ng-show="showInput">	
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" id="exampleInputAmount" placeholder="Name" ng-model="roomName">
			</div>
		</div>
		<div class="btn-group" data-toggle="buttons">
			<button type="button" class="btn btn-primary" ng-click="createRoom()"> Create</button>
		</label>
	</div>
</div>

<div class="well col-md-4" style="overflow: scroll; width: 300px; height: 300px;">	
		<ul>
			<li ng-repeat="room in rooms"><button type="button" ng-click="joinRoom(room);">{{room}}</button></li>
		</ul>
</div>
<div class="col-md-4">	
</div>

<div class="well col-md-4" style="overflow: scroll; width: 300px; height: 300px;">	
		<ul>
			<li ng-repeat="user in users">{{user}}</li>
		</ul>
</div>
