
<div class="col-md-12">
	<div class="btn-group col-md-5" data-toggle="buttons" ng-show="op && isPassSet">
 		<button type="button" class="btn buttonColor" ng-click="removePass()"> Remove password</button>
	</div>
	<div class="col-md-5" ng-show="op && !isPassSet">
		<div class="btn-group col-md-3" data-toggle="buttons" ng-show="!showPw">
	  		<button type="button" class="btn buttonColor" ng-click="showPass()" > Set password</button>
		</div>
		<div ng-show="op && showPw ">
			<div class="btn-group col-md-3" data-toggle="buttons">
				<button type="button" class="btn buttonColor" ng-click="createPassword()"> Set as new </button>
			</div>
			<div class="form-group col-md-5">
				<div class="input-group">
					<input type="password" class="form-control" id="setPassword" placeholder="Set password" ng-model="setPW" ng-keypress="createPassword($event)">
				</div>
			</div>	
		</div>
	</div>
	<div class="col-md-5" ng-hide="op"></div>
	<div class="col-md-5">
		<span class="RoomImgPosition">
			<img src="img/logo.png" class="imgRooms" alt="this image can not load"/>
		</span>
	</div>
	<div class="btn-group col-md-1">
	 	<button type="button" class="btn buttonColor dropdown-toggle roomLogButton" data-toggle="dropdown" aria-expanded="false" ng-cloak>
	    	{{currentUser}} <span class="caret"></span>
	 	</button>
	  	<ul class="dropdown-menu" role="menu">
	  		<li><a href="" ng-click="partRoom()">Leave room</a></li>
	    	<li><a href="" ng-click="disconnUser()">Sign out</a></li> 	
	  	</ul>
	</div>
</div>

<div class="col-md-12">
	<div class="showTopicDiv" ng-show="op">
		<div class="btn-group col-md-2" data-toggle="buttons" ng-show="!isTopicSet">
			<button type="button" class="btn buttonColor" ng-click="showTop()"> Set topic</button>
		</div>
		<div class="btn-group col-md-2" data-toggle="buttons" ng-show="isTopicSet">
			<button type="button" class="btn buttonColor" ng-click="setTopic()"> Submit topic</button>
		</div>
		<div class="col-md-2 showTopicInput" ng-show="showTopic">			
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Topic" ng-model="topicName" ng-keypress="setTopic($event)">
				</div>
			</div>
		</div>
		<div class="col-md-2" ng-show="!showTopic"></div>
	</div>
	<div class="col-md-4" ng-show="!op"></div>
	<div class="col-md-5 roomInfo">
		{{currentRoom}}
		<span ng-show="currentTopic !== ''">-</span>
		{{currentTopic}}</div>


</div>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="chatWindow col-md-8">
		<ul ng-repeat="m in msg">
			<li ng-cloak>
				<span class="glyphicon glyphicon-time"></span>
				{{m.timestamp | amDateFormat:' h:mm a'}}
				<span class="glyphicon glyphicon-chevron-right" ng-show="m.nick === currentUser"></span>
				<span class="glyphicon glyphicon-user" ng-show="m.nick !== currentUser"></span>
				<span ng-show="m.nick !== currentUser">{{m.nick}}: </span>
				<span>{{m.message}}</span>
			</li>
		</ul>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="col-md-12 form-inline chatInputField">
	<form name="messageForm">
		<div class="form-group">
			<button type="button" class="btn buttonColor" ng-click="sendMessage()">Send</button>
			<input type="text" class="chatInput" id="message" name="message" ng-model="message" ng-keypress="sendMessage($event)" ng-maxlength="200" />				
		</div>
	</form>
</div>


<div class="col-md-12">
	<div class="col-md-3">
		<div class="headUsersPMandBan">Users in this room</div>
		<div class="banAndUserList">	
			<ul>
				<li class="liPadding" ng-repeat="user in currentUsers">	
					<button class="btn buttonColor glyphicon glyphicon-envelope" type="button" ng-click="showPrivateMsg(user); sendPrivate();" ng-cloak> {{user}}</button>

					<form class="form-inline" ng-show="op">
						<div class="btn-group" data-toggle="buttons">
							<button type="button" class="btn buttonOp" ng-click="kickUser(user)">Kick</button>
						</div>
						<div class="btn-group" data-toggle="buttons">
							<button type="button" class="btn buttonOp" ng-click="banUser(user)">Ban</button>
						</div>
						<div class="btn-group" data-toggle="buttons" ng-show="ops[user] === undefined">
							<button type="button" class="btn buttonOp" ng-click="opUser(user)">Op</button>
						</div>
						<div class="btn-group" data-toggle="buttons" ng-show="ops[user] !== undefined">
							<button type="button" class="btn buttonOp" ng-click="deOpUser(user)">deOp</button>
						</div>
					</form>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-6" ng-show="showprivate !== false || boolReceiver !== false">
		<div>
			<div class="headUsersPMandBan" ng-cloak>Private chat with {{receiver}}</div>
			<div class="privateChatWindow">
				<ul ng-show="showMyMsg !== false || boolReceiver !== false">
					<li ng-repeat="pm in privateMessage" ng-if="(currentUser === pm.receiver && receiver === pm.sender) || (currentUser === pm.sender && receiver === pm.receiver)" ng-cloak>
						<span class="glyphicon glyphicon-chevron-right" ng-show="pm.sender === currentUser"></span>
						<span class="glyphicon glyphicon-user" ng-show="pm.sender !== currentUser"></span>
						<span ng-show="pm.sender !== currentUser">{{pm.sender}}: </span>
						<span>{{pm.message}}</span> 
					</li>
				</ul>
			</div>
		</div>
		<div class="form-inline subFormPM">
			<button type="button" class="btn buttonPM" ng-click="sendPrivate()">Send</button>
			<input type="text" class="form-control" id="privmsg" name="privmsg" ng-model="privmsg" ng-keypress="sendPrivate($event)"/>
			
		</div>
	</div>
	<div class="col-md-6" ng-show="showprivate === false || boolReceiver === false"></div>




	<div class="col-md-3" ng-show="op">
		<div class="headUsersPMandBan">Banned users</div>
		<div class="banAndUserList">	
			<ul>
				<li ng-repeat="bann in banned">
					<span class="glyphicon glyphicon-user"></span>
			 		<span>{{bann}}</span>
					<div class="btn-group" data-toggle="buttons">
						<button type="button" class="btn buttonColor" ng-click="unBanUser(bann)">Unban</button>
					</div>			 		
				 </li>
			</ul>
		</div>
	</div>
</div>




