<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
<div class="alert alert-success" ng-cloak ng-show="successMessage != ''">
	{{successMessage}}
</div>

<h1>{{currentRoom}}<span ng-show="currentTopic != ''"> - {{currentTopic}}</span></h1>

<div class="btn-group">
 	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    	{{currentUser}} <span class="caret"></span>
 	</button>
  	<ul class="dropdown-menu" role="menu">
    	<li><a href="" ng-click="disconnUser()">Sign out</a></li>
    	<li><a href="" ng-click="partRoom()">Leave room</a></li>
  	</ul>
</div>

<!-- <div class="form-group">
	<button type="button" class="btn btn-primary" ng-click="partRoom()">Part</button>
</div> -->

<div class="well" ng-show="op">
	<div class="btn-group" data-toggle="buttons">
  		<button type="button" class="btn btn-primary" ng-click="showPass()"> Set password</button>
	</div>
	
</div>

<div class="well" ng-show="showPw">	
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" id="setPassword" placeholder="Set password" ng-model="setPW">
			</div>
		</div>
		<div class="btn-group" data-toggle="buttons">
			<button type="button" class="btn btn-primary" ng-click="createPassword()"> Create</button>
		</label>
	</div>

</div>




<form class="form-inline" ng-show="op">
	<div class="form-group">
		<div class="input-group">
			<input type="text" class="form-control"  placeholder="Name" ng-model="kickedUser">
		</div>
	</div>
		<div class="btn-group" data-toggle="buttons">
			<button type="button" class="btn btn-primary" ng-click="kickUser()">Kick</button>
		</div>
</form>

<form class="form-inline" ng-show="op">
	<div class="form-group">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Name" ng-model="bannedUser">
		</div>
		</div>
		<div class="btn-group" data-toggle="buttons">
			<button type="button" class="btn btn-primary" ng-click="banUser()">Ban</button>
	</div>
</form>

<form class="form-inline" ng-show="op">
	<div class="form-group">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Name" ng-model="oppedUser">
		</div>
		</div>
		<div class="btn-group" data-toggle="buttons">
			<button type="button" class="btn btn-primary" ng-click="opUser()">Op</button>
	</div>
</form>

<form class="form-inline" ng-show="op">
	<div class="form-group">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Name" ng-model="deOppedUser">
		</div>
		</div>
		<div class="btn-group" data-toggle="buttons">
			<button type="button" class="btn btn-primary" ng-click="deOpUser()">deOp</button>
	</div>
</form>

<form class="form-inline" ng-show="op">
	<div class="form-group">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Name" ng-model="unBannedUser">
		</div>
	</div>
	<div class="btn-group" data-toggle="buttons">
		<button type="button" class="btn btn-primary" ng-click="unBanUser()">Unban</button>
	</div>
</form>


<div ng-show="op">
	<div class="btn-group" data-toggle="buttons">
		<button type="button" class="btn btn-primary" ng-click="showTop()"> Set topic</button>
	</div>

	<div ng-show="showTopic">	
			
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Topic" ng-model="topicName">
			</div>
		</div>
		<div class="btn-group" data-toggle="buttons">
			<button type="button" class="btn btn-primary" ng-click="setTopic()"> Set topic</button>
		</div>

	</div>
</div>

<!-- <div class="col-md-9">
	<ul ng-repeat="message in messages">
		<li>{{currentUser}} : </li>
	</ul>
</div> -->
<div class="well">
	<ul ng-repeat="m in msg">
		<li>{{m.timestamp | amDateFormat:' h:mm a'}}----{{m.nick}}: {{m.message}}</li>
	</ul>
</div>
<div class="form-group">
	<label for="message" class="control-label">Message</label>
	<input type="text" class="form-control" id="message" name="message" ng-model="message" />
	<button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>
</div>

<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in currentUsers">
				<button type="button" ng-click="showPrivateMsg(user); sendPrivate();">{{user}}</button>
			</li>
		</ul>
	</div>
</div>
<div class="col-md-9" ng-show="showprivate != false	|| boolReceiver != false">
	<label for="privmsg" class="form-control">Chat history with {{receiver}}</label>
	<input type="text" class="form-control" id="privmsg" name="privmsg" ng-model="privmsg"/>
	<button type="button" class="btn btn-primary" ng-click="sendPrivate()">Send</button>
	<ul ng-show="showMyMsg != false || boolReceiver != false">
		<li ng-repeat="pm in privateMessage" ng-if="(currentUser === pm.receiver && receiver === pm.sender) || (currentUser === pm.sender && receiver === pm.receiver)">{{pm.receiver}}: {{pm.message}} :{{pm.sender}}</li>
	</ul>
</div>