<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
<div class="form-group">
	<button type="button" class="btn btn-primary" ng-click="partRoom()">Part</button>
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<ul ng-repeat="message in messages">
		<li>{{currentUser}} : </li>
	</ul>
</div>
<div class="well">
	<ul ng-repeat="m in msg">
		<li>{{m.timestamp | amDateFormat:' h:mm a'}}----{{m.nick}}: {{m.message}}</li>
	</ul>
</div>
<div class="form-group">
	<label for="message" class="control-label">Message</label>
	<input type="text" class="form-control" id="message" name="message" ng-model="message" />
</div>
<button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>

<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}</li>
		</ul>
	</div>
</div>